.counterBlock{

    width: 500px;
    height: auto;

    border:2px solid #1c1b1b;

    background-color: rgba(28, 27, 27, 0.63);


}
.title{
    text-align: center;

    text-transform: uppercase;

    color:lemonchiffon;
}
.screen{
    width: 200px;
    height: 200px;

    margin: 0 auto;

    border:2px solid #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;

    background-color: #fff;


}

.buttonsBlock{
    margin-top: 2rem;
    padding: .4rem;

    display: flex;
    justify-content: space-around;

}


.error{
    color:red;
}
.screenText{
    display: block;

    text-align: center;
    font-size: 24px;

}
.settingsBlock{
    margin: 30px;

    text-align: center;




}
.settingsBlock button{
    font-size:30px;

    padding: 10px;
}
